body {
  padding-bottom: 3%;
}

.cards {
  padding: 0 5% 0 5%;
}

.eventCard {
  width: 30%;
}

.dashboard {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .eventTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.eventHeader {
  width: 100%;
} */

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.loginButton {
  padding-left: 90%;
}

.navLink {
  margin: 0 1% 0 1%;
}

.login {
  margin-left: 20%;
}

.upcomingEventCard {
  width: 40%;
  height: 100%;
  margin-top: 4%;
  margin-left: 30%;
}

.upcomingEventHeader {
  margin-left: 8%;
  margin-top: 2%;
}

.eventButtons {
  display: inline-block;
}

.emptyHeading {
  margin-top: 12%;
  margin-left: 28.5%;
}

.loading {
  margin-left: 49%;
  margin-top: 10%;
}

#emptyHeadingDash {
  margin-left: 28.5%;
  margin-top: 8%;
}
