.cards {
  padding: 0 5% 0 5%;
}

.eventCard {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35%;
}

.eventTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.eventHeader {
  width: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.loginButton {
  padding-left: 90%;
}

.navLink {
  margin: 0 5% 0 3%;
}

.sideBar {
  width: 15%;
  height: 100%;
}
