.cards {
  padding: 0 5% 0 5%;
}

.eventCard {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35%;
}

.eventTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.eventHeader {
  width: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.loginButton {
  padding-left: 90%;
}

.navLink {
  margin: 0 1% 0 1%;
}

.upcomingEventCard {
  margin-left: 30%;
  width: 40%;
  height: 100%;
  margin-top: 4%;
}

.upcomingEventHeader {
  margin-left: 8%;
  margin-top: 2%;
}
